<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head.html :: fragment-header"></div>
    <link href="../css/my.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/common :: fragment-header"></header>
<div class="container py-3">
    <div class="container justify-content-center mt-5 mb-5">
        <div class="row row-cols-auto m-auto justify-content-center">
            <div th:each="plan : ${plans}">
                <div class="col">
                    <div class="card bg-white m-2" style="width: 18rem; height: 15rem;">
                        <div class="card-header bg-gradient">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 pt-2">
                                        <span th:if="${plan.planStatus.toString().equals('PAST')}" th:text="${plan.planStatus}" class="badge bg-dark position-relative"></span>
                                        <span th:if="${plan.planStatus.toString().equals('COMPLETED')}" th:text="${plan.planStatus}" class="badge bg-secondary position-relative"></span>
                                        <span th:if="${plan.planStatus.toString().equals('NOW')}" th:text="${plan.planStatus}" class="badge bg-primary position-relative"></span>
                                    </div>
                                    <div class="col-7"></div>
                                    <div class="col-2 pt-1 ps-2">
                                        <div id="emphasis">
                                            <fieldset th:if="${plan.planStatus.toString().equals('NOW')}" >
                                                <input type="checkbox" th:id="${'emphasis'+plan.id}" th:checked="${plan.emphasis==true}" th:attr="onclick=|switchPlanEmphasis('${plan.id}', 'list')|"><label th:for="${'emphasis'+plan.id}">⭐</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body justify-content-center" th:attr="onclick=|getPlanDetailPage('${plan.id}')|" style="cursor: pointer">
                            <div class="row mx-auto my-auto">
                                <th:block th:if="${plan.dtype.equals('Term')}">
                                    <div class="position-relative">
                                        <div>
                                            시작일 : <span th:text="${plan.startDate}"></span>
                                        </div>
                                        <div>
                                            종료일 : <span th:text="${plan.endDate}"></span> <span th:text="${plan.endTime}"></span>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${plan.dtype.equals('Regular')}">
                                    <div class="position-relative">
                                        <div>상시</div>
                                        <div>시작일 : <span th:text="${plan.startDate}"></span></div>
                                    </div>

                                </th:block>
                            </div>
                            <div class="row mx-auto my-auto mt-5">
                                <h5 class="card-title bold" th:text="${plan.title}"></h5>
                            </div>
                            <div class="progress mb-1">
                                <div class="progress-bar" role="progressbar" th:style="${'width: '+plan.compPercent+'%;'}" th:text="${plan.compPercent + '%'}" th:aria-valuenow="${plan.compPercent}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a th:id="${'plan-detail-trigger'+plan.id}" th:href="@{/plan/{planId}(planId=${plan.id})}" style="display: none;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/common :: fragment-footer" class="py-5 mt-auto"></footer>

<script src="/js/my.js"></script>
<script type="module" src="../js/sse.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>