<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/head.html :: fragment-header"></div>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <form th:object="${planRegularRegisterForm}" th:action="@{/plan/regular}" method="post" class="row g-1">
        <div class="col-11">
            <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="col-1">
            <input type="submit" value="GO!" class="btn btn-primary"/>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>