<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xnlms="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script async src="/js/jquery-3.6.0.min.js"></script>
    <script async src="/js/my.js"></script>
    <<link href="../css/my.css" rel="stylesheet">
</head>
<body>
    <div id="todoDateDetailList" th:fragment="todoDateDetailList" style="background-color: rgba(226, 226, 226, 0.5)" class="mb-3">
        <div class="container border border-light shadow-soft rounded-3 p-3">
            <div th:each="comment : ${comments}" class="row align-items-end justify-content-end">
                <div class="col">
                    <div class="card p-2 mt-2 mb-2">
                        <div th:id="${comment.id+'title'}" th:text="${comment.comment}" th:value="${comment.id}"></div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a th:id="${comment.id+'delbtn'}" th:if="${selectedDate.isAfter(today) || selectedDate.isEqual(today)}" th:attr="onclick=|deleteComment('${selectedDate}', '${comment.id}', '${todoDate.id}')|" class="comment-content-btn">DEL</a>
                        <a th:id="${comment.id+'edtAfter'}" th:if="${selectedDate.isAfter(today) || selectedDate.isEqual(today)}" th:attr="onclick=|editComment()|" style="display: none" class="comment-content-btn">EDT</a>
                        <a th:id="${comment.id+'edtBefore'}" th:if="${selectedDate.isAfter(today) || selectedDate.isEqual(today)}" th:attr="onclick=|getCommentUpdateForm('${selectedDate}', '${todoDate.id}', '${comment.id}', '${comment.comment}')|" class="comment-content-btn">EDT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card container">
            <div th:if="${selectedDate.isAfter(today) || selectedDate.isEqual(today)}">
                <form th:id="${'comment-form'}" class = "row align-items-end">
                    <div class="col-10 p-2 ps-3">
                        <input type="text" th:id="${'comment-input'}" class="form-control">
                    </div>
                    <div class="col-2 pb-1 justify-content-end">
                        <input type="button" th:id="${'comment-write'}" class="img-btn comment-btn" th:attr="onclick=|registerComment('${selectedDate}', '${todoDate.id}')|"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>