html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.large-container {
    overflow-y: scroll;
}

.large-container {
    max-width: 660px;
    height: 330px;
    padding: 15px;
}

.large-container .form-floating:focus-within {
    z-index: 2;
}
